# Зависимости
node_modules/

# Скомпилированные файлы
dist/
build/

# Логи
*.log
*.log.*

# Локальные настройки редакторов
.vscode/
.idea/
*.sublime-*

# Личные файлы и секреты
.env
*.key

# Системные файлы
Thumbs.db
.DS_Store